<%= provide :title, "All Users" %>
<h1 class="fix-h1"><%= "All Users" %></h1>
<%= form_tag admin_users_path, method: :get do %>
  <div class="form-group row mg-top">
    <div class="col-xs-6">
      <%= text_field_tag :search_user, params[:search_user], class:"form-control",
                         placeholder: "Search by keyword" %>
    </div>
    <div class="col-xs-2">
      <%= submit_tag "Search", class: "btn btn-default"%>
    </div>
  </div>
<% end %>
<table class="table table-hover ls-users">
  <thead class="title_table">
    <tr>
      <th class="text-c"><%="No."%></th>
      <th class="text-c"><%="Avatar"%></th>
      <th class="text-c"><%="Name"%></th>
      <th class="text-c"><%="Email"%></th>
      <th class="text-c"><%="Birthday"%></th>
      <th class="text-c"><%="Delete"%></th>
    </tr>
  </thead>
  <tbody>
  <% if @users.present? %>
    <% @users.each_with_index do |user,index | %>
      <tr>
        <td class="text-c">
          <%# params[:page] ||= "1" %>
          <%#= index_for params[:page], index, Settings.user.per_page %>
          <%= 1 %>
        </td>
          <td class="text-c">
            <%= image_tag user.avatar.url(:thumb) if user.avatar? %>
          </td>
        <td class="text-c"><%= link_to user.name, user %></td>
        <td class="text-c"><%= link_to user.email, user %></td>
        <td class="text-c"><%= user.dob %></td>
        <td class="text-c">
          <%= link_to raw("<span class='glyphicon glyphicon-trash
                text-danger'></span>"), [:admin, user], method: :delete,
                      data: {confirm: "Are you sure?"} %>
        </td>
      </tr>
    <% end %>
    <% end %>
  </tbody>
</table>
<%#= will_paginate @users %>